# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build
/.next/
/out/

# Production build
/build
/dist
tsconfig.tsbuildinfo

# SQLite / Local DB test files
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug and testing
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.nyc_output

# OS Files
.DS_Store
*.pem
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
